body.content-ntm .page-container{
	background-color:$white;
}

.homepage_banner{

	// padding-top: 15px;
}

.fixed_background_image {
	width:100%;
	height:100%;
	background-image: url($background_texture);
	// @include opacity(0.5);
	position: fixed;
	z-index:-1;
}

.moblieBanner{
	display: none;
}

a:hover{
	
	color:$second_hover_colour;
}

section.blog .post .post-image .thumb-hover{
	background: $post_feature_image_hover_colour;
}

/*my account edit section*/

> section.wpb_wrapper{

	> div.container{

		max-width: 100%;
	}
}