@font-face {
  font-family: 'bankgothic';
  src: url('assets/fonts/bankgothic_md_bt_medium-webfont.eot');
  src: url('assets/fonts/bankgothic_md_bt_medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/bankgothic_md_bt_medium-webfont.woff2') format('woff2'),
  url('assets/fonts/bankgothic_md_bt_medium-webfont.woff') format('woff'),
  url('assets/fonts/bankgothic_md_bt_medium-webfont.ttf') format('truetype'),
  url('assets/fonts/bankgothic_md_bt_medium-webfont.svg#bankgothic_md_btmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}